element.style {
}
button.radius, .button.radius {
-webkit-border-radius: 3px;
border-radius: 3px;
}
button.expand, .button.expand {
padding-right: 0;
padding-left: 0;
width: 100%;
}
button:hover, button:focus, .button:hover, .button:focus {
color: white;
}
button:hover, button:focus, .button:hover, .button:focus {
background-color: #007095;
}
a:hover, a:focus {
color: #0078a0;
}
a:hover {
cursor: pointer;
}
@media only screen and (min-width: 40.063em)
button, .button {
display: inline-block;
}
button, .button {
border-style: solid;
border-width: 0px;
cursor: pointer;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
font-weight: normal;
line-height: normal;
margin: 0 0 1.25rem;
position: relative;
text-decoration: none;
text-align: center;
display: inline-block;
padding-top: 1rem;
padding-right: 2rem;
padding-bottom: 1.0625rem;
padding-left: 2rem;
font-size: 1rem;
background-color: #008cba;
border-color: #007095;
color: white;
-webkit-transition: background-color 300ms ease-out;
-moz-transition: background-color 300ms ease-out;
transition: background-color 300ms ease-out;
padding-top: 1.0625rem;
padding-bottom: 1rem;
-webkit-appearance: none;
border: none;
font-weight: normal !important;
}
a {
color: #008cba;
text-decoration: none;
line-height: inherit;
}
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
Pseudo ::before element
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
Pseudo ::after element
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
Inherited from body
body {
color: #222222;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
font-weight: normal;
font-style: normal;
line-height: 1;
cursor: default;
}
html, body {
/* font-size: 100%; */
}
Inherited from html.js.flexbox.flexboxlegacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
html, body {
font-size: 100%;
}
